@model INEQ.Models.Equipment

@{
    ViewBag.Title = "Equipment";
}

<h2>Equipment</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Equipment</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.EntryDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EntryDate)
                @Html.ValidationMessageFor(model => model.EntryDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Serie, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Serie)
                @Html.ValidationMessageFor(model => model.Serie)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Softtekld, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Softtekld)
                @Html.ValidationMessageFor(model => model.Softtekld)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Active, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Active)
                @Html.ValidationMessageFor(model => model.Active)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EquipmentTypeld, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EquipmentTypeld)
                @Html.ValidationMessageFor(model => model.EquipmentTypeld)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Modelld, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Modelld)
                @Html.ValidationMessageFor(model => model.Modelld)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Brandld, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Brandld)
                @Html.ValidationMessageFor(model => model.Brandld)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Statusld, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Statusld)
                @Html.ValidationMessageFor(model => model.Statusld)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Warehouseld, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Warehouseld)
                @Html.ValidationMessageFor(model => model.Warehouseld)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
